[submodule "vnd/brrtools"]
	path = vnd/brrtools
	url = https://www.github.com/bowtoes/brrtools.git
[submodule "vnd/ogg"]
	path = vnd/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "vnd/vorbis"]
	path = vnd/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
